* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    
  }
  /* for header*/
  .main-header{
    display:flex;
    flex-direction: column;
    margin: 0 10px 2rem;
    padding: 2rem 1rem 1rem;
    align-items:center ;
    background-color: #d32222;
    border-radius:5rem 5rem 10rem 10rem ;
    color:white;
  }
  .main-header_title{
    font-family: "Roboto", sans-serif ;
    font-size: 3rem;
  }
  .main-header_slogan{
    font-size: 1.5rem;
  }
  .main-header.logo {
    width: 200px;
    height: 50px;
  }
  /*sort by dropdown*/
/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float:right;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content button {
    color: black;
    border:0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content button:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
 
  /*for movie container*/
  .movies-list {
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
  }
 
.movie-Container{
    display:flex;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 2rem;
    transition: transform 0.3s ease;
    cursor:pointer;
    font-weight: 300;
    margin:2rem 0;
}

.movie-container:hover {
    transform: scale(1.05);
    transition: transform .3s ease;
}
.movie-poster {
    /* background: url('https://i.etsystatic.com/17139775/r/il/2a5f47/1852994100/il_570xN.1852994100_b7bp.jpg') center center/cover; */
   height: 18rem;
    width: 18rem;
   border-radius: 1.25rem;
}

.movie-information {
    display: flex;
    flex-direction: column;
  justify-content: space-around;
    width: 100%;
    padding: 2rem;
}
.movie-title {
    font-size: 1.75rem;
    font-weight: 400;
    word-break: break-word;
}

.movie-rating-wrapper {
    display: flex;
    align-items: center;
}

.movie-rating {
    font-size: 1.35rem;
}

.movie-rating-wrapper i {
    font-size: 1.5rem;
    color: #FE7E61;
    margin-right: .5rem;
}
.movie-genre {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.genre {
    background-color: #EEEEF8;
    color: #5c5b67;
    padding: .5rem 1rem;
    margin: .5rem;
    border-radius: 1rem;
}

.genre:not(:first-child) {
    margin-left: 1rem;
}


/*header*/

/* Booking Page */

/* Booking Header */
.booking-container {
   /* background: linear-gradient(90deg, rgb(231, 225, 225) 0%, #f3f0f0 35%, rgb(251, 249, 249) 100%);*/
   background-color: rgb(20, 3, 3);
    min-height: 100vh;
    min-width: 100vw;
    padding: 1rem;
}

.booking-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.booking-header div {
    display: flex;
    align-items: center;
}

.booking-header__img {
    width: 6rem;
    height: 6rem;
    border: 2px solid rgb(61, 60, 60);
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.booking-header__title {
    color: rgb(242, 240, 240);
    font-size: 1.5rem;
}
.booking-header-slogan {
    color: rgb(242, 240, 240);
    font-size: 1.0rem;
text-align: left;
}

.booking-header__total {
    color: rgb(235, 33, 107);
    padding: 1rem;
    border: 1px solid #c1313d;
    border-radius: .5rem;
    text-align: center;
}
.screen-title{
    color: rgb(242, 240, 240);
    font-size: 1.0rem;
    text-align: center;
}

/* Screen */
.screen {
    width: 100%; 
    height: 8rem;
    color:gray;  
    border: 7px solid rgb(124, 124, 126);
    border-color:rgb(77, 75, 75) transparent transparent transparent;
   /* border-radius: 80%/100px 100px 0px 0px;*/
    margin: 0 auto;
}
.divider{
    width: 90%; 
    color:gray;  
    border: 7px solid rgb(124, 124, 126);
    margin:0 auto;

}

/* Booking Legend */
.booking-legend {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin-top: -2rem;
}

.legend-key {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seat {
    width: 1.7rem;
    height: 1.7rem;
    margin: .5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-color: rgb(52, 215, 52);
    cursor: pointer;
    transition: .3s ease;
}

.seat-booked {
    background-color:gray;
}

.seat-selected {
    background-color: rgb(9, 118, 38);
}

.seat-available {
    background-color: none;
    border: 1px solid rgb(9, 118, 44);
}

.legend-key h2 {
    color: rgb(244, 237, 237);
    font-size: 1.25rem;
    margin-top: .5rem;
}

/* Seating */
.seating {
    padding: 1rem;
    margin: 1rem 0;
}

.row {
    display: flex;
    justify-content: center;
}

/*.seat:hover:not(.seat-booked) {
    transform: scale(1.4);
    transition: .3s ease;
}*/

.seat:nth-of-type(3) {
    margin-right: 3rem;
}

.seat:nth-last-of-type(3) {
    margin-left: 3rem;
}


.row:nth-of-type(5) {
    margin-bottom: 2rem;
}

.row:nth-last-of-type(3) {
    margin-top: 2rem;
}

.payment-btn {
    display: block;
    width: 70%;
    margin: 1rem auto;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    background-color: rgb(212, 47, 47);
    text-decoration: none;
    color: rgb(242, 236, 236);
    text-align: center;
}


.payment-btn {
    width: 30%;
}

.redirect-btn {
    width: 50%;
}
/* Confirmation Page */
.confirmation {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.confirmation > * {
    margin-bottom: 1.3rem;
}

.confirmation__heading {
    font-size: 2.5rem;
}

.confirmation__subheading {
    font-size: 1.5rem;
}

.redirect-btn {
    display: block;
    width: 80%;
    margin: 1rem auto;
    padding: 1.5rem 1rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    background-color: #d74646;
    text-decoration:none;
    color: white;
    text-align: center;
}

/* Footer */
footer {
    padding: 1.5rem;
    background-color: #d32222;
    text-align: center;
    color: white;
    border-radius: 2rem 2rem 0 0;
}

footer p {
    font-size: 1.5rem;
}
